@font-face {
  font-family: cinzel-regular;
  src: url(fonts/Cinzel-Regular.ttf);
}

@font-face {
  font-family: cormorant-upright-regular;
  src: url(fonts/CormorantUpright-Regular.ttf);
}

html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  padding-top: 60px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  padding-bottom: 50px;
  background-color: white;
}

.uh-branding-one {
  font-family: cinzel-regular, serif;
  font-size: 1.38em;
  font-style: normal;
  letter-spacing: 2.4px;
  color: #777;
}

.uh-branding-two {
  font-family: cormorant-upright-regular, cursive;
  font-size: 0.8em;
  font-style: normal;
  color: #777;
  white-space: pre;
}

.navbar {
  margin-top: -5px;
  border-bottom: 1px solid #e7e7e7;
}

.navbar-brand {
  position: fixed;
  width: 45px;
  height: 45px;
  top: 3px;
  left: 23px;
} 

.uh-nav-app-name {
  font-family: 'Courier New', Courier, sans-serif;
  font-size: 14px;
  display: inline;
  position: absolute;
  margin-left: 67px;
  margin-top: 12px;
  background-color: transparent;
}

.footer {
  position: absolute;
  padding-top: 5px;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
}

.nav-link {
  margin-right: 14px;
}

.container {
  width: 768px !important;
  max-width: 768px !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@media (min-width: 768px) {
  body {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: white;
  }

  .container {
    width: 750px !important;
    max-width: 750px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .navbar {
    font-size: 14px;
    margin-top: 37px;
  }

  .navbar-brand {
    width: 78px;
    height: 78px;
    top: 6px;
    left: 31px;
  } 

  .navbar-nav {
    position: relative;
    top: 2px;
    left: 22.5px;
  }

  .uh-nav-app-name {
    font-size: 22px;
    display: inline;
    position: absolute;
    margin-left: 89px;
    margin-top: 33px;
    background-color: transparent;
  }

  .uh-branding-one {
    font-size: 1.58em;
    letter-spacing: 2.2px;
  }

  .uh-branding-two {
    font-size: 0.9em;
  }
}

@media (min-width: 992px) {
  .container {
      width: 970px !important;
      max-width: 970px !important;
      margin-left: auto !important;
      margin-right: auto !important;
  }
}

@media (min-width: 1200px) {
  .container {
      width: 1170px !important;
      max-width: 1170px !important;
      margin-left: auto !important;
      margin-right: auto !important;
  }
}

.dropdown-menu.show {
  margin-top: 6px !important;
  margin-right: 6px !important;
  font-size: 14px;
  border-radius: 0 0 2% 2%;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

.dropdown-menu {
  min-width: 10rem !important;
  padding: 5px 0 !important;
}

.dropdown-item {
  padding: 3px 20px !important; 
}

a.dropdown-item:active {
  color: black;
  background-color: #e9ecef;
}

a.dropdown-toggle::after {
  vertical-align: middle;
  margin-left: 6px;
}
