# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
app/src/.pnp
app/src/pnp.js

# testing
app/src/coverage

# next.js
.next/
app/src/out/

# production
app/src/build

# misc
**/.DS_Store
app/*.pem

# debug
app/src/npm-debug.log*
app/src/yarn-debug.log*
app/src/yarn-error.log*
app/src/.pnpm-debug.log*

# local env files
app/src/.env*.local

# vercel
app/src/.vercel

# typescript
next-env.d.ts

# Ignore build artifacts
tsconfig.tsbuildinfo

# IDEs
.idea
.vscode
app/src/.idea
app/src/.vscode

# package-lock
package-lock.json

# api
api/.classpath
api/.project
api/.settings
api/bin
api/target
api/*-overrides.properties
api/output.txt
api/src/main/resources/static/javascript/tsconfig.json
api/*.iml
