@tailwind components;
@tailwind utilities;

@layer tailwind {
  @tailwind base;
}

@import url('@mantine/core/styles.css');

@font-face {
  font-family: cinzel-regular;
  src: url('../public/fonts/Cinzel-Regular.ttf');
}

@font-face {
  font-family: cinzel-decorative-bold;
  src: url('../public/fonts/CinzelDecorative-Bold.ttf');
}

@font-face {
  font-family: cormorant-upright-regular;
  src: url('../public/fonts/CormorantUpright-Regular.ttf');
}

@layer base {
  html {
    @apply overflow-auto;
  }

  a {
    @apply no-underline hover:underline text-link-blue;
  }

  h1 {
    @apply text-2xl font-semibold mt-5 mb-2;
  }
}

@layer components {
  .link {
    @apply block leading-none px-3 py-2 rounded no-underline text-light-dark-7-0 text-sm font-medium mantine-hover
  }
}

@layer utilities {
  .mantine-hidden-dark {
    @mixin dark {
      display: none;
    }

    @mixin light {
      display: block;
    }
  }

  .mantine-hidden-light {
    @mixin light {
      display: none;
    } 

    @mixin dark {
        display: block;
    }
  }

  .mantine-hover {
    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
  }
}
